main > form {
    display: block;
    padding: 0;
    margin: 1em;
}

main > form > input {
    margin: 0 0 1em 0;
    display: block;
    border-radius: 0.2em;
    padding: 0.1em 1em 0.5em 1em;
}

main > form > button {
    margin: 0 0 1em 0;
    display: block;
    background-color: var(--color-green);
    border-radius: 0.5em;
    padding: 0.1em 1em 0.5em 1em;
    font-weight: bold;
}
