
table#user_profile th {
    text-align: right;
    font-weight: bold;
    padding-right: 1em;
}

table#UserProfile th::after {
    content: ":";
}

table#UserProfile button {
    display: none;
    margin-left: 0.5em;
}